.main-container {
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    gap: 1rem;
    align-items: center
}

.container{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    align-items: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}
.image {
    width: 25%;
    height: 25%;
}

#ipad{
    background-image: url(./ipad.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 0.5rem solid blue;
    border-radius: 1.2rem;
    opacity: 0.5;
}

#iphone{
    background-image: url(./iphone.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 0.5rem solid red;
    border-radius: 1.2rem;
    opacity: 0.5;
}

#macbook{
    background-image: url(./macbook.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 0.5rem solid purple;
    border-radius: 1.2rem;
    opacity: 0.5;
}

#ipad:hover{
    opacity: 1;
}

#iphone:hover{
    opacity: 1;
}

#macbook:hover{
    opacity: 1;
}